In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from datetime import date, time, datetime

In [2]:
train_users = pd.read_csv("proj3_data/train_users.csv",parse_dates=['timestamp_first_active','date_account_created','date_first_booking'])
test_users = pd.read_csv("proj3_data/test_users.csv",parse_dates=['timestamp_first_active','date_account_created','date_first_booking'])
sessions = pd.read_csv("proj3_data/sessions.csv")

In [3]:
Y = train_users['country_destination']
train_users = train_users.drop('country_destination', axis =1)

In [ ]:
train_users.columns

In [ ]:
def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        
        # Return the dataframe with missing information
        return mis_val_table_ren_columns

In [ ]:
#train_users.drop(['country_destination'], axis = 1)
#Concatenating train and test data for EDA
#df_all = pd.concat((train_users, test_users), axis = 0, ignore_index= True)

In [ ]:
df_all.age.value_counts()

In [4]:
from sklearn.preprocessing import MinMaxScaler

# Splitting date time data for date account created
train_users['dac_year'] = train_users.date_account_created.dt.year
train_users['dac_month'] = train_users.date_account_created.dt.month
train_users['dac_day'] = train_users.date_account_created.dt.day

# Splitting date time data for time first active
train_users['tfa_year'] = train_users.timestamp_first_active.dt.year
train_users['tfa_month'] = train_users.timestamp_first_active.dt.month
train_users['tfa_day'] = train_users.timestamp_first_active.dt.day

train_users.drop('date_account_created',1, inplace=True)
train_users.drop('timestamp_first_active',1, inplace=True)

In [7]:

#df_all.loc[df_all.age > 100, 'age'] = np.nan
#df_all.loc[df_all.age < 18, 'age'] = np.nan

age_values = train_users.age.values
train_users['age'] = np.where(age_values>1000, np.random.randint(28, 43), age_values)
train_users['age'] = train_users['age'].fillna(np.random.randint(28, 43))

In [ ]:
"""
scaler = MinMaxScaler()
numerical = ['age','dac_year','dac_month','dac_day','tfa_year','tfa_month','tfa_day']
df_all[numerical] = scaler.fit_transform(df_all[numerical])"""

In [ ]:
y = df_all.age.value_counts()
print(y)
print(df_all["age"].isna().sum())

In [ ]:
df_all['age'].quantile(0.5)

In [ ]:
train_users

In [8]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
X = train_users
y = Y

label_enc = LabelEncoder()
y = label_enc.fit_transform(y)
X.shape, y.shape

((213451, 19), (213451,))

In [9]:
label_enc.classes_

array(['AU', 'CA', 'DE', 'ES', 'FR', 'GB', 'IT', 'NDF', 'NL', 'PT', 'US',
       'other'], dtype=object)

In [11]:
X

,id,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,dac_year,dac_month,dac_day,tfa_year,tfa_month,tfa_day
0,gxn3p5htnn,NaT,-unknown-,40.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,2010,6,28,2009,3,19
1,820tgsjxq7,NaT,MALE,38.0,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome,2011,5,25,2009,5,23
2,4ft3gnwmtx,2010-08-02,FEMALE,56.0,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE,2010,9,28,2009,6,9
3,bjjt8pjhuk,2012-09-08,FEMALE,42.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,2011,12,5,2009,10,31
4,87mebub9p4,2010-02-18,-unknown-,41.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,2010,9,14,2009,12,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213446,zxodksqpep,NaT,MALE,32.0,basic,0,en,sem-brand,google,omg,Web,Mac Desktop,Safari,2014,6,30,2014,6,30
213447,mhewnxesx9,NaT,-unknown-,40.0,basic,0,en,direct,direct,linked,Web,Windows Desktop,Chrome,2014,6,30,2014,6,30
213448,6o3arsjbb4,NaT,-unknown-,32.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,2014,6,30,2014,6,30
213449,jh95kwisub,NaT,-unknown-,40.0,basic,25,en,other,other,tracked-other,iOS,iPhone,Mobile Safari,2014,6,30,2014,6,30
213450,nw9fwlyb5f,NaT,-unknown-,40.0,basic,25,en,direct,direct,untracked,iOS,iPhone,-unknown-,2014,6,30,2014,6,30

In [26]:
X = X[["age", 'gender', 'language', 'affiliate_channel', 'affiliate_provider']]
       #, "dac_year","dac_month", "dac_day", 
     #"tfa_year", "tfa_month", "tfa_day"]]
catfeatures = [1,2,3,4]

In [27]:
from catboost import CatBoostClassifier

#catboost_grid_params = [{'iterations':[500, 1000, 1500], 'depth':[4, 6, 8, 10],}]

catboost_clf = CatBoostClassifier(loss_function='MultiClass', bagging_temperature=0.3, 
                                  cat_features=[1, 2, 3, 4], random_state=42, verbose=0, depth=4, iterations=1000)

In [28]:
from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train.shape, X_test.shape

((170760, 5), (42691, 5))

In [29]:
catboost_clf.fit(X_train, y_train)

In [30]:
predicted_country = catboost_clf.predict(X_test)
predicted_country = label_enc.inverse_transform(predicted_country)
#data['predicted_country'] = predicted_country

/Users/amangangwani/miniconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [31]:
submission = pd.DataFrame(predicted_country)
test_users = pd.read_csv("proj3_data/test_users.csv")
submission["id"] = test_users["id"]
submission.columns = ['country', 'id']
submission = submission[['id', 'country']]
submission

               id country
0      5uwns89zht      US
1      jtl0dijy2j     NDF
2      xx0ulgorjt     NDF
3      6c6puo6ix0     NDF
4      czqhjk3yfe     NDF
...           ...     ...
42686  w0wq9knxjs     NDF
42687  8xni8s2boe     NDF
42688  b48d11a9di     NDF
42689  w5sezt4lyr     NDF
42690  sjoep1c04o     NDF

[42691 rows x 2 columns]

In [32]:
submission.to_csv("submission.csv",index=False,)

In [ ]:
train.columns

In [ ]:
test.info()

In [ ]:
from xgboost.sklearn import XGBClassifier
xgb = XGBClassifier(base_score=0.5, colsample_bylevel=1, colsample_bynode=1, colsample_bytree=0.5, gamma=0, 
                    gpu_id=-1, importance_type='gain', interaction_constraints=None, 
                    learning_rate=0.3, max_delta_step=0, max_depth=6, min_child_weight=1, 
                    monotone_constraints=None, n_estimators=25, n_jobs=0, num_parallel_tree=1, 
                    objective='multi:softprob', random_state=0, reg_alpha=0, reg_lambda=1, 
                    scale_pos_weight=None, seed=0, subsample=0.5, tree_method=None, 
                    validate_parameters=False, verbosity=None)

In [ ]:
model = xgb.fit(train,Y)

In [ ]:
model

In [ ]:
train.columns

In [ ]:
from sklearn.metrics import ndcg_score

model.score(train, Y)

In [ ]:
y_pred = model.predict(test)

In [ ]:
#ndcg_score(y_test, y_pred)

In [ ]:
Y_PREDICT = model.predict(test)

In [ ]:
submission = pd.DataFrame(Y_PREDICT)
test_users = pd.read_csv("proj3_data/test_users.csv")
submission["id"] = test_users["id"]
submission.columns = ['country', 'id']
submission = submission[['id', 'country']]
submission

In [ ]:
submission.to_csv("submission.csv",index=False,)

In [ ]:
from xgboost import plot_importance
from matplotlib import pyplot



sorted_idx = np.argsort(model.feature_importances_)[::-1]
for index in sorted_idx:
    print([train.columns[index], model.feature_importances_[index]]) 

#y = model.get_booster().get_score()

#scores = pd.DataFrame(y)
#scores
#print(model.feature_importances_)
#print(y)
"""
y = plot_importance(model, xlim=(0,2000))
print(y)
y = model.get
#pyplot.show()"""